div#wrapperHeader {
 width:100%;
 background:url(https://smckinneyisft.github.io/VoyentAlertDemo/FrederictonHomepage.png);
 text-align:center;
}

div#wrapperHeader div#header {
 width:1000px;
 height:200px;
 margin:0 auto;
}

div#wrapperHeader div#header img {
 width:;
 height:; /* the height of the logo image */
 margin:0 auto;

 * {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row: after {
  content: "";
  clear: both;
  display: table;
}
